.icon {
  width: 12px;
  height: 12px;
}

.icon-account-login {
  fill: #000;
}

.caret {
  width: 8px;
  height: 8px;
  fill: #47535d;
  display: none;

  @include grid-media($tablet-grid) {
    display: inline-block;
  }
}

.first-level-link:hover > .caret {
  fill: #fff;
}

#footer .icon {
  fill: #ccc;
  margin-right: 5px;
}

#abrir-main-nav-button .icon {
  width: 20px;
  height: 20px;
}