{{ define "page-title"}}
<div class="page-title">
  <div class="container">
    <div class="title-container">
      <h1>Noticias</h1>
    </div>
  </div>
</div>
{{ end }}

{{ define "main" }}
<div class="container">
  <article class="article-content">
    {{ if ne .Params.imagen_intro "" }}
    <div class="article-full-image">
      {{ $img_params_320 := "w_320,f_auto,q_auto" }}
      {{ $img_url_320 := partial "cloudinary-img.html" (dict "url" .Params.imagen_intro "params" $img_params_320) }}
      {{ $img_params_480 := "w_480,f_auto,q_auto" }}
      {{ $img_url_480 := partial "cloudinary-img.html" (dict "url" .Params.imagen_intro "params" $img_params_480) }}
      {{ $img_params_820 := "w_820,f_auto,q_auto" }}
      {{ $img_url_820 := partial "cloudinary-img.html" (dict "url" .Params.imagen_intro "params" $img_params_820) }}
      <img srcset="{{ $img_url_320 | safeURL }} 320w,
      {{ $img_url_480 | safeURL }} 480w,
      {{ $img_url_820 | safeURL }} 820w" sizes="(max-width: 320px) 280px,
                    (max-width: 480px) 440px,
                    820px" src="{{ $img_url_820 | safeURL }}" alt="{{ $.Title }}">
    </div>
    {{end}}
    <h2>{{ .Title }}</h2>
    {{ .Content }}
  </article>
  <aside class="article-aside">
    {{ with .Params.tags }}
    <h3>Categoría:</h3>
    <ul>
      {{ range . }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
    {{ end }}
  </aside>
</div>
{{ end }}