{{ define "custom-css"}}
  {{ with .Params.galeria }}
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  {{ end }}
{{ end }}

{{ define "page-title"}}
  {{ partial "page-title.html" .}}
{{ end }}

{{ define "main" }}
  <div class="container">
    <div class="grid-container">
      <section id="producto-main">
        {{ with .Params.galeria }}
          {{ partial "product-image-gallery.html" ( dict "dir" $.Site.Params.cloudinary_url "imgs" . ) }}
        {{ end }}
        
        {{ .Content }}
      </section>
      <section id="marca">
        {{ $path := (print "/marcas/" (urlize (index .Params.marcas 0)) ) }}
        {{ $brand := $.Site.GetPage $path }}
        {{ with $brand }}
          <div class="marca-page-logo">
            {{ partial "marca-logo.html" . }}
          </div>
        {{ end }}
        <div class="marca-tags">
          {{ if .Params.industrias }}
            <strong>Industria{{ if gt (len .Params.industrias) 1 }}s{{ end }}:</strong>
            {{ range $index, $industria := .Params.industrias }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "industrias/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
          {{ end }}
        </div>
      </section>
    </div>
  </div>
{{ end }}

{{ define "scripts"}}
  {{ with .Params.galeria }}
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script>
      $(document).ready(function(){
        $('#product-gallery').slick({
          dots: true,
          adaptiveHeight: true,
        });
      });
    </script>
  {{ end }}
{{ end }}
