{{ define "page-title"}}
  {{ partial "page-title.html" .}}
{{ end }}

{{ define "main" }}
  <div class="container">
    <ul class="product-grid">
      {{ range .Site.Taxonomies }}
        {{ range $key, $value := . }}
          {{ if eq (urlize $key) (urlize (lower $.Title)) }}
            {{ range $value.Pages }}
              <li class="product-grid-block">
                <a href="{{ .Permalink }}">
                  <div class="product-grid-image" style="background-image: url(/images/logos/{{ .Params.logo }});"></div>
                  <div class="product-block-title">
                    <h3>{{ .Title }}</h3>
                  </div>
                </a>
              </li>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
{{ end }}
