{{ define "page-title"}}
  <div class="page-title">
    <div class="container">
      <div class="title-container">
        <h1>Noticias</h1>
      </div>
    </div>
  </div>
{{ end }}

{{ define "main" }}
  <div class="container">
    <article class="article-content">
      {{ if ne .Params.imagen_full "" }}
        <div class="article-full-image">
          <img src="{{ .Params.imagen_full }}" alt="{{$.Title}}" />
        </div>
      {{end}}
      <h2>{{ .Title }}</h2>
      <p class="article-date"><small>{{ replace (dateFormat "2 #mes#, 2006" .Params.date) "#mes#" (index  (dateFormat "Jan" .Params.date)) }}</small></p>
      {{ .Content }}
    </article>
    <aside class="article-aside">
      {{ with .Params.tags }}
        <h3>Categoría:</h3>
        <ul>
          {{ range .Params.tags }}
            <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
      {{ end }}
    </aside>
  </div>
{{ end }}
