<article class="post-item">
  <div class="inner">
  	<header class="entry-header">
  		<a class="post-thumbnail__link" href="{{ .Permalink }}">
        <img class="smart-box-image" src="/{{ .Params.imagen_intro }}" alt="">
      </a>
    </header>
  	<div class="entry-content">
  		<h5 class="noticia-title">
  			<a href="{{ .Permalink }}">{{ .Title }}</a>
      </h5>
      <div class="noticias-summary">
    		{{ .Summary }}
      </div>
      <div class="entry-meta">
  			<div class="meta-inner">
					<span class="post__date">
            <i class="fa fa-clock-o"></i>
            {{ .Params.date.Format "2006-01-02" }}
          </span>
  			</div>
  		</div>
  	</div>
  </div>
</article>
