#noticias-home {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @include grid-container;
  }

  li {
    display: inline-block;
    @include grid-column(3);
    text-align: center;
  }

  .noticia-title {
    color: $azul;
    font-size: 15px;
    line-height: 20px;
  }

  .noticia-fecha {
    color: $text-color;
  }

}
