#noticias-home {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @include grid-container;
  }

  li {
    display: inline-block;
    text-align: center;
    @include grid-column(12);

    @include grid-media($tablet-grid){
      @include grid-column(3);
    }

    img {
      width: 100%;
    }
  }

  .noticia-title {
    color: $azul;
    font-size: 16px;
    line-height: 20px;
  }

  .noticia-fecha {
    color: $text-color;
  }

}

.noticia-imagen-container {
  border: solid 1px $mid-grey;
  overflow: hidden;

  img {
    display: block;
  }
}

.noticia-imagen {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;

  img {
    max-width: 100%;
  }
}
