.page-title {
  padding: $general-padding 0;
  position: relative;
  z-index: -2;
  background-size: cover;
  margin-bottom: $general-padding;

  h1 {
    color: $blanco;
    margin: 0;
  }

  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $azul;
    z-index: -1;
  }

  .container {
    @include clearfix;
  }
}

.title-container {
  @include grid-column(12);
}
