<header>
  <div class="header-logo-container">
    <img src="/images/Logo-Novatec-amarillo.jpg" alt="Logo Description" class="header-logo">
  </div>
  <nav class="main-nav">
    {{ $currentPage := . }}
    <ul class="first-level">
      {{ range .Site.Menus.principal }}
        {{ if .HasChildren }}
          <li class="first-level-item{{if $currentPage.HasMenuCurrent "principal" . }} active{{end}}">
            <a class="first-level-link" href="{{.URL}}">{{ .Name }}<i class="fa fa-caret-down"></i></a>
              <ul class="second-level">
                {{ range .Children }}
                  <li class="second-level-item{{if $currentPage.IsMenuCurrent "principal" . }} active{{end}}">
                    <a class="second-level-link" href="{{.URL}}"> {{ .Name }} </a>
                  </li>
                {{ end }}
              </ul>
            </li>
          {{ else }}
            <li class="first-level-item{{if or ($currentPage.IsMenuCurrent "principal" .) ($currentPage.HasMenuCurrent "principal" .) }} active{{end}}">
              <a class="first-level-link" href="{{.URL}}">{{ .Name }}</a>
            </li>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </nav>
  <section role="search" class="header-search">
    <form action="#" method="get">
      <label for="q">
          <input type="search" name="q" id="s" placeholder="Buscar..." maxlength="200" />
      </label>
    </form>
  </section>
</header>
