<header>
  <div class="header-logo-container">
    <img src="/images/Logo-Novatec-amarillo.jpg" alt="Logo Description" class="header-logo">
  </div>
  <nav class="main-nav">
    {{ $currentPage := . }}
    <ul>
      {{ range .Site.Menus.principal }}
        <li{{if or ($currentPage.IsMenuCurrent "principal" .) ($currentPage.HasMenuCurrent "principal" .) }} class="active"{{end}}>
          <a href="{{.URL}}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </nav>
  <section role="search" class="header-search">
    <form action="#" method="get">
      <label for="q">
          <input type="search" name="q" id="s" placeholder="Buscar..." maxlength="200" />
      </label>
    </form>
  </section>
</header>
