<ul id="slides">
  {{ range $index, $element := .Params.slides }}
    <li class="slide{{ if (eq $index 0) }}showing{{end}}">
      {{ with .link }}
        <a href="{{ . }}">
      {{ end }}
        <img src="{{ .image }}" class="slide-image" />
        <div class="slide-text">
          <div class="slide-title">
            {{ .title }}
          </div>
          {{ with .description }}
            <div class="slide-description">{{ . | safeHTML }}</div>
          {{ end }}
        </div>
      {{ with .link }}
        </a>
      {{ end }}
    </li>
  {{ end }}
  <div class="slider-controls">
    <button class="controls" id="previous"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    <button class="controls" id="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
  </div>
</ul>
