.product-grid {
  @include grid-container;
  @include grid-collapse;
  list-style: none;
  padding: 0;
}

.product-grid-block {
  @include grid-column(12);
  position: relative;
  border: solid 1px $mid-grey;
  margin-bottom: $general-padding;
  transition: all 0.5s;
  box-shadow: 0;
  background-image: url('https://via.placeholder.com/268x201/f0f0f0/ffffff?text=Sin+imagen');

  @include grid-media($tablet-grid) {
    @include grid-column(4);
  }

  @include grid-media($desktop-grid) {
    @include grid-column(3);
  }

  &:hover {
    border-color: $azul;
    box-shadow: 1px 1px 6px rgba(68,68,68,0.5);
  }

}

.product-grid-image {
  width: 100%;
  padding-bottom: 75%;
  background-size: cover;
}

.product-block-title {
  background: rgba(39, 87, 153, 0.8);
  padding: 10px;
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: calc(100% + 2px);
  transition: background 0.8s;

  h3 {
    font-size: 14px;
    color: $blanco;
    margin: 0;
    font-weight: 400;
  }
}

.product-grid-block:hover .product-block-title h3:before {
  margin-left: 0;
}

.product-grid-block:hover .product-block-title {
  background: rgba(39, 87, 153, 1);
}


.product-grid-block-logo {
  @extend .product-grid-block;
  background-image: none;
  background: #fff;

  .product-grid-image {
    padding-bottom: 100%;
    background-size: 90%;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
