// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-title {
  text-align: center;
  margin-top: $general-padding*3;
  font-size: 24px;
}
