<footer id="footer">
  <div class="container">
  <section class="footer-section">
    {{ if eq .Section "novatec-construccion" }}
      <h3>NVTConstucción S.A.</h3>
    {{ else }}
      <h3>Novatec Industrial S.A.</h3>
    {{ end }}

    <p>
      <svg viewBox="0 0 8 8" class="icon">
        <use xlink:href="/open-iconic.svg#globe"></use>
      </svg> 
      De Panasonic, 1km al Sur y 1km al Oeste, Ofibodegas Milano, Bodega #31. Radial Santa Ana-Belén, Heredia, Costa Rica.
    </p>
    <p>
      <a href="https://www.google.co.cr/maps/place/Novatec+Industrial+S.A./@9.9658497,-84.2074156,17z/data=!4m2!3m1!1s0x0000000000000000:0xb454eda2f42f9176?hl=es" target="_blank" rel="noopener noreferrer">
        <svg viewBox="0 0 8 8" class="icon">
          <use xlink:href="/open-iconic.svg#map-marker"></use>
        </svg> 
        Abrir en Google Maps
      </a>
    </p>
    <p>
      <a class="btn-primary btn-waze" target="_blank" href="waze://?ll=9.9658497,-84.2074156,17&amp;navigate=yes" rel="noopener noreferrer">
        <svg viewBox="0 0 8 8" class="icon">
          <use xlink:href="/open-iconic.svg#location"></use>
        </svg> 
        Abrir en Waze
      </a>
    </p>
  </section>
  <section class="footer-section">
    <h3>Contacto</h3>
    <ul>
      <li>
        <svg viewBox="0 0 8 8" class="icon">
          <use xlink:href="/open-iconic.svg#inbox"></use>
        </svg> 
        650-4005 Belén, Heredia, Costa Rica.</li>
      <li>
        <svg viewBox="0 0 8 8" class="icon">
          <use xlink:href="/open-iconic.svg#phone"></use>
        </svg> 
        +506 2239-1111</li>
      <li>
        <svg viewBox="0 0 8 8" class="icon">
          <use xlink:href="/open-iconic.svg#phone"></use>
        </svg> 
        +506 2239-1212</li>
      <li>
        {{ if eq .Section "novatec-construccion" }}
          {{ $email := "ventas-nc@novatec.cr" }}
          <a href="mailto:{{ $email }}" target="_top">
            <svg viewBox="0 0 8 8" class="icon">
              <use xlink:href="/open-iconic.svg#envelope-closed"></use>
            </svg>  {{ $email }}
          </a>
        {{ else }}
          {{ $email := "info@novatec.cr" }}
          <a href="mailto:{{ $email }}" target="_top">
            <svg viewBox="0 0 8 8" class="icon">
              <use xlink:href="/open-iconic.svg#envelope-closed"></use>
            </svg> 
            {{ $email }}
          </a>
        {{ end }}
      </li>
    </ul>
  </section>
  <section class="footer-section">
    <h3>Redes Sociales</h3>
    {{ partial "social.html" . }}
  </section>
  <section class="footer-section">
    <h3>Boletín de noticias</h3>
    <form name="contacto-footer" action="/gracias" netlify-honeypot="adios" netlify>
      <p class="visually-hidden">
        <label><input name="adios"></label>
      </p>
      <label for="email">Email</label>
      <input type="email" name="email" />
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" />
      <label for="apellido">Apellido</label>
      <input type="text" name="nombre" />
      <label for="empresa">Empresa</label>
      <input type="text" name="empresa" />
      <label for="puesto">Puesto</label>
      <input type="text" for="puesto" />
      <label for="segmento_industria">Segmento de la industria</label>
      <select id="segmento_industria" class="" name="segmento_industria">
        <option value="">- Seleccione una industria -</option>
        <option value="Alimentos y Bebidas">Alimentos y Bebidas</option>
        <option value="Dispositivos Médicos">Dispositivos Médicos</option>
        <option value="Energía">Energía</option>
        <option value="Farmacéuticos">Farmacéuticos</option>
        <option value="Industria Pesada">Industria Pesada</option>
        <option value="Papelera">Papelera</option>
        <option value="Contratistas">Contratistas</option>
        <option value="Electrónica">Electrónica</option>
        <option value="Refinería">Refinería</option>
        <option value="Químicos">Químicos</option>
        <option value="Ingenios">Ingenios</option>
        <option value="Integradores">Integradores</option>
        <option value="Agrícola">Agrícola</option>
        <option value="Otros">Otros</option>
      </select>
      <input type="submit" class="btn-primary" value="enviar" />
    </form>
  </section>
</div>
  <div class="legal-footer">
    <div class="container">
      Copyright © 2017 Novatec Industrial. Todos los derechos reservados.
    </div>
  </div>
</footer>
