<header id="main-header">
  <a href="javascript:void(0)" id="abrir-main-nav-button" onclick="openNav()">
    <svg viewBox="0 0 8 8" class="icon">
      <use xlink:href="/open-iconic.svg#menu"></use>
    </svg>
  </a>
  <div class="header-logo-container">
    {{ if eq .Section "novatec-construccion" }}
      <a href="/novatec-construccion/"><img src="/images/logos/NC.png" alt="Logo Description" class="header-logo"></a>
    {{ else }}
      <a class="header-logo-link" href="/">
        <img width="178" height="49" src="/logo.svg" alt="Novatec" class="header-logo">
      </a>
    {{ end }}
  </div>
  <nav id="main-nav" role="navigation">
    <div class="cerrar-main-nav">
      <h3>Menú principal</h3>
      <a href="javascript:void(0)" id="cerrar-main-nav-button" class="closebtn" onclick="closeNav()">&times;</a>
    </div>
    {{ $currentPage := . }}
    <ul class="first-level">
      {{ range .Site.Menus.principal }}
        {{ if .HasChildren }}
          <li class="first-level-item{{if or ($currentPage.HasMenuCurrent "principal" .) ($currentPage.IsMenuCurrent "principal" .) }} active{{end}}">
            <a class="first-level-link" href="{{.URL}}">
              {{ .Name }}
              <svg viewBox="0 0 8 8" class="caret">
                <use xlink:href="/open-iconic.svg#caret-bottom"></use>
              </svg>
            </a>
            <ul class="second-level">
              {{ range .Children.ByWeight }}
                <li class="second-level-item{{if $currentPage.IsMenuCurrent "principal" . }} active{{end}}">
                  <a class="second-level-link" href="{{.URL}}"> {{ .Name }} </a>
                </li>
              {{ end }}
            </ul>
          </li>
        {{ else }}
          <li class="first-level-item{{if or ($currentPage.IsMenuCurrent "principal" .) ($currentPage.HasMenuCurrent "principal" .) }} active{{end}}">
            <a class="first-level-link" href="{{.URL}}">{{ .Name }}</a>
          </li>
        {{ end }}
        </li>
      {{ end }}
    </ul>
  </nav>
  <section role="search" class="header-search">
    <form action="#" method="get" class="main-search-form">
      <input name="search" type="search" id="search" placeholder="Buscar..." maxlength="200" autocomplete="off" />
    </form>
    <div class="search-results-box">
      <ul id="results"></ul>
    </div>
  </section>
</header>
