<section id="noticias-home">
  <div class="container">
    <h2 class="home-title">Últimas noticias</h2>
    <ul>
      {{ $noticias := where .Data.Pages "Section" "noticias" }}
      {{ $published := where .Data.Pages "Params.draft" false }}
      {{ $featured := where .Data.Pages "Params.featured" true }}
      {{ $filtered := $noticias | intersect $featured }}
      {{ range first 4 $filtered }}
      <li>
        <a class="noticia-image-link" href="{{ .Permalink }}">
          <div class="noticia-imagen-container">
            {{ $img_params := "c_thumb,w_260,h_195,c_pad" }}
            {{ $img_url := partial "cloudinary-img.html" (dict "url" .Params.imagen_intro "params" $img_params) }}
            <img class="lazy" data-src="{{ $img_url | safeURL }}" alt="{{ .Title }}">
          </div>
        </a>
        <a class="noticia-title" href="{{ .Permalink }}">
          {{ .Title }}
          <br />
          <span class="noticia-fecha">
            {{ replace (dateFormat "2 #mes#, 2006" .Date) "#mes#" (index $.Site.Data.meses (dateFormat "Jan" .Date)) }}
          </span>
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</section>