<div class="slider-container">
  <div id="slides">
    {{ range $index, $element := .Params.slides }}
    <div class="slide {{ if (eq $index 0) }}showing{{end}}">
      {{ with .link }}
      <a href="{{ . }}">
        {{ end }}

        {{ $img_params_320 := "f_auto,w_320,h_400,c_fill,g_face,q_75" }}
        {{ $img_url_320 := partial "cloudinary-img.html" (dict "url" .image "params" $img_params_320) }}
        {{ $img_params_480 := "f_auto,w_480,h_400,c_fill,g_face,q_75" }}
        {{ $img_url_480 := partial "cloudinary-img.html" (dict "url" .image "params" $img_params_480) }}
        {{ $img_params_800 := "f_auto,w_800,h_222,c_fill,g_face,q_75" }}
        {{ $img_url_800 := partial "cloudinary-img.html" (dict "url" .image "params" $img_params_800) }}
        {{ $img_params_800 := "f_auto,w_800,h_222,c_fill,g_face,q_75" }}
        {{ $img_url_800 := partial "cloudinary-img.html" (dict "url" .image "params" $img_params_800) }}
        {{ $img_params_1100 := "f_auto,w_1100,h_306,c_fill,g_face,q_75" }}
        {{ $img_url_1100 := partial "cloudinary-img.html" (dict "url" .image "params" $img_params_1100) }}
        {{ $img_params_1500 := "f_auto,w_1500,h_417,c_fill,g_face,q_75" }}
        {{ $img_url_1500 := partial "cloudinary-img.html" (dict "url" .image "params" $img_params_1500) }}
        {{ $img_params_2000 := "f_auto,w_2000,h_800,c_fill,g_face,q_75" }}
        {{ $img_url_2000 := partial "cloudinary-img.html" (dict "url" .image "params" $img_params_2000) }}

        <img data-srcset="{{ $img_url_320 | safeURL }} 320w,
          {{ $img_url_480 | safeURL }} 480w,
          {{ $img_url_800 | safeURL }} 800w,
          {{ $img_url_1100 | safeURL }} 1100w,
          {{ $img_url_1500 | safeURL }} 1500w,
          {{ $img_url_2000 | safeURL }} 2000w" data-sizes="(max-width: 320px) 320px,
          (max-width: 480px) 480px,
          (max-width: 800px) 800px,
          (max-width: 1100px) 1100px,
          (max-width: 1500px) 1500px,
          2000px" data-lazy="{{ $img_url_1500 | safeURL }}" alt="{{ $.Title }}" class="desktop" />
        <img data-srcset="{{ $img_url_320 | safeURL }} 320w,
          {{ $img_url_480 | safeURL }} 480w,
          {{ $img_url_800 | safeURL }} 800w,
          {{ $img_url_1100 | safeURL }} 1100w,
          {{ $img_url_320 | safeURL }} 1500w" data-sizes="(max-width: 320px) 320px,
          (max-width: 480px) 480px,
          (max-width: 800px) 800px,
          (max-width: 1100px) 1100px,
          1500px" data-lazy="{{ $img_url_1500 | safeURL }}" alt="{{ $.Title }}" class="mobile" />

        <div class="slide-text">
          <div class="slide-title">
            {{ .title }}
          </div>
          {{ with .description }}
          <div class="slide-description">{{ . | safeHTML }}</div>
          {{ end }}
        </div>
        {{ with .link }}
      </a>
      {{ end }}
    </div>
    {{ end }}
  </div>
  <div class="prev">
    <svg viewBox="0 0 8 8" class="icon">
      <use xlink:href="/open-iconic.svg#chevron-left"></use>
    </svg>
  </div>
  <div class="next">
    <svg viewBox="0 0 8 8" class="icon">
      <use xlink:href="/open-iconic.svg#chevron-right"></use>
    </svg>
  </div>
</div>