<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/11a79f3edd.js"></script>
  <link rel="stylesheet" type="text/css" href="/site.css">
</head>
<body translate="no">
  {{ partial "header.html" . }}
  <main id="main">
    {{ block "page-title" . }}
    {{ end }}
    {{ block "main" . }}
    {{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ if eq (getenv "LOCAL_DEV") "true" }}
    {{ partial "debug.html" . }}
  {{ end }}
  {{ block "scripts" .}}{{ end }}
</body>
