<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/11a79f3edd.js"></script>
  <link rel="stylesheet" type="text/css" href="/site.css">
</head>
<body translate="no">
  {{ partial "header.html" . }}
  <main id="main">
    {{ partial "page-title.html" . }}
    <div class="container">
      <section id="industrias-block">
        {{ range where (where .Data.Pages.ByWeight ".Params.id" "!=" nil) ".Params.draft" "!=" true }}
          <div class="industria-title" id="{{ urlize .Title }}">{{ .Title | plainify}}</div>
          <div class="industria-block">
            <div class="grid-container">
              <div class="industria-detalles">
                  {{ with .Params.imagen }}<img src="/images/industrias/{{ . }}" alt="" />{{ end }}
                  <a class="btn btn-primary" href="{{ .Permalink }}">Ver más información</a>
              </div>

              <div class="industria-productos">
                <h3>Productos</h3>
                {{ $current_industria := urlize .Title }}
                <ul>
                  {{ range .Pages }} {{ range .Params.marcas }} {{ $.Scratch.Add $current_industria (slice .) }} {{ end }}
                  <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                  </li>
                  {{ end }}
                </ul>
              </div>

              <div class="industria-marcas">
                <h3>Marcas</h3>
                <ul>
                  {{ $current_marcas := $.Scratch.Get $current_industria }}
                  {{ range uniq $current_marcas }}
                    {{ with $.Site.GetPage "taxonomyTerm" "marcas" (urlize .) }}
                      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                  {{ end }}
                </ul>
              </div>

            </div>
          </div>
        {{ end }}
      </section>
      <nav id="industrias-nav">
        <ul>
          {{ range .Data.Pages.ByWeight }}
            <li><a href="#{{ urlize .Title }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </main>
  {{ partial "footer.html" . }}
  {{ block "scripts" .}}{{ end }}
</body>
